---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";

import ThoughtCard from "../components/ThoughtCard.astro";
import SectionHeader from "../components/SectionHeader.astro";
import Profile from "../components/Profile.astro";

import data from "../data.json";
import profileImage from "../assets/profile-image.jpg";
---

<Layout title="Thoughts | Portfolio">
  <section>
    <Profile src={profileImage} variant="large" title="Rishabh Jain" />
  </section>
  <!-- THOUGHTS -->
  <Section>
    <SectionHeader title="Thoughts" variant="medium" />
    {
      data.thoughts.map(({ desc, route }) => (
        <ThoughtCard linkTo={route} description={desc} className="my-1" />
      ))
    }
  </Section>
</Layout>

<style></style>
